@using CMSApplication.EndPoint.Models.SiteViewModels.UserViewModels
@using CMSApplication.EndPoint.ViewComponents

@model FrontUserProfileViewModel

@{
    ViewData["Title"] = "Profile";
}




<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="text-content">
                        <img src="~/@Model.ProfileInfo.ProfileImage" alt="user" class="rounded-circle" width="300" height="300">
                        <h4>@Model.ProfileInfo.Role</h4>
                        <h2>@Model.ProfileInfo.Name</h2>
                        <p style="color: white;">@Model.ProfileInfo.Biography</p>
                        <h4>@Model.ProfileInfo.UserName</h4>
                        <p class="text-white">Posts : @Model.ProfileInfo.PostCount</p>

                    </div>

                </div>
                <div class="col-md-4">


                    <a asp-area="" asp-controller="Article" asp-action="AddArticle" class="btn btn-primary">Add Article</a>
                    <a asp-area="" asp-controller="Users" asp-action="EditProfile" class="btn btn-secondary">Edit Profile</a>

                </div>
            </div>



        </div>
    </section>
</div>



<section class="blog-posts">
    <div class="container">
        <div class="row" style="display: flex; justify-content: center;">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">



                        <!-- Posts List -->
                        @if (Model.ProfileInfo.PostCount > 0)
                        {
                            foreach (var article in Model.Articles)
                            {
                                <div class="col-lg-12">
                                    <div class="blog-post">
                                        <div class="blog-thumb">
                                            <img src="~/@article.MainImage" alt="No Image">
                                        </div>
                                        <div class="down-content">
                                            <span>@article.Category</span>
                                            <a asp-controller="Article" asp-action="ShowArticleDetails" asp-route-articleId="@article.ArticleId" ><h4>@article.Title</h4></a>
                                            <ul class="post-info">
                                                <li><a href="#">@Model.ProfileInfo.Name</a></li>
                                                <li><a>@article.Created</a></li>
                                                <li><a href="#">@article.CommentsCount Comments</a></li>
                                            </ul>
                                            <p>@article.Summary</p>
                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <ul class="post-tags">
                                                            <li><i class="fa fa-gear"></i></li>
                                                            <li><a href="javascript:void(0)" onclick="DeleteArticle('@article.ArticleId')">Delete</a> |</li>
                                                            <li><a href="javascript:void(0)">Edit</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-12">

                                <div class="alert alert-primary" role="alert">
                                    هنوز مقاله ای ننوشته شده است. برای ایجاد مقاله جدید  <a asp-controller="Article" asp-action="AddArticle" class="alert-link">اینجا</a> کلیک کنید.
                                </div>

                            </div>
                        }





                    </div>

                    <!-- Pagination -->
                    @if (Model.ProfileInfo.PaginationInfo.TotalCount > Model.ProfileInfo.PaginationInfo.PageSize)
                    {
                        @await Component.InvokeAsync("FrontPaginationComponent", new FrontPaginationComponentRequestDto() { Page = Model.ProfileInfo.PaginationInfo.Page, PageSize = Model.ProfileInfo.PaginationInfo.PageSize, SearchKey = Model.ProfileInfo.PaginationInfo.SearchKey, TotalCount = Model.ProfileInfo.PaginationInfo.TotalCount, Controller = "Users", Action = "Profile" })

                    }

                </div>
            </div>

        </div>
    </div>
</section>





@section Scripts {

    <script src="~/Sweetalert2/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="~/Sweetalert2/sweetalert2.min.css" />


    <script>


        var Urls = {
            DeleteArticleUrl : '@Url.Action("DeleteArticle", "Article")'
        }


        function DeleteArticle(articleId) 
        {
            Swal.fire({
                title: 'آیا مطمعن هستید؟',
                text: `این پست حذف خواهد شد.`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله',
                cancelButtonText: 'خیر!'
            }).then((result) => {
                if(result.value) 
                {

                    var postData = {
                        "articleId" : articleId
                    }

                    $.ajax({
                        contentType : "application/x-www-form-urlencoded",
                        dataType : "json",
                        data : postData,
                        type : "POST",
                        url : Urls.DeleteArticleUrl,
                        success : function(data) {

                            if(data.isSuccess == true) 
                            {
                                Swal.fire(
                                    "موفق!",
                                    data.message,
                                    "success"
                                ).then(() => {
                                    window.location.reload();
                                });
                            }
                            else
                            {
                                Swal.fire(
                                    "ناموفق!",
                                    data.message,
                                    "error"
                                );
                            }

                        },
                        error : function (xhr, status, error){
                            alert(xhr.responseText);
                        }
                    });

                }
            });
        }



    </script>





}
