@using CMSApplication.EndPoint.Areas.Admin.Models.ViewModels.ComponentsViewModels

@model PaginationViewModel

@{
    Layout = null;
}

@{
    int pageCount = Model.TotalCount / Model.PageSize;
}


<div class="row">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="row_select_info" role="status" aria-live="polite">
            Showing 1 to 10 of @Model.TotalCount entries
        </div>
    </div>
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers" id="row_select_paginate">
            <ul class="pagination">
                @{
                    var before = Model.Page - 1;
                    var after = Model.Page + 1;
                }

                <li class="paginate_button page-item previous disabled" id="row_select_previous"><a asp-area="Admin" asp-controller="Users" asp-action="Index" asp-route-page="@before" asp-route-pageSize="@Model.PageSize" asp-route-searchKey="@Model.SearchKey" aria-controls="row_select" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                

                @for(int i = 1; i <= pageCount; i += 1)
                {
                    
                    <li class="paginate_button page-item "><a asp-area="Admin" asp-controller="Users" asp-action="Index" asp-route-page="@i" asp-route-pageSize="@Model.PageSize" asp-route-searchKey="@Model.SearchKey" aria-controls="row_select" data-dt-idx="3" tabindex="0" class="page-link">@i</a></li>
                    
                }
                    
                
                
                
                <li class="paginate_button page-item next" id="row_select_next"><a asp-area="Admin" asp-controller="Users" asp-action="Index" asp-route-page="@after" asp-route-pageSize="@Model.PageSize" asp-route-searchKey="@Model.SearchKey" aria-controls="row_select" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
            </ul>
        </div>
    </div>
</div>